<h1>Boss Details</h1>


< <ul>
	<% @bosses.each do |boss| %> 
     <li>
         <%= link_to boss.name,boss %>

     </li>
        <%#= link_to "New",new_boss_path %><br><br>
        <%#= link_to "Edit",edit_boss_path(boss) %><br><br>
        <%#= link_to "Show", boss_path(boss) %><br><br>
        <%#= link_to "Delete",boss_path(boss),class:"btn-btn-light",data:{turbo_method: :delete,turbo_confirm: "Are you Sure Delete this bosses"} %><br><br>
  <% end %>	
</ul> -->

