 <!-- <h3>Show Bosses Details</h3>
<div>
     <div><strong>name       :</strong><%#= @boss.name %></div>
     <div><strong>email       :</strong><%#= @boss.email %></div>
</div> -->

<pre>


<div><strong> name       :</strong> <%#= @boss.name %></div>
<div> <strong>email      :</strong> <%#= @boss.email %></div>
<div> <%#= link_to "Edit",  edit_boss_path(@boss) %></div><%#=link_to "Back to",bosses_path(@boss) %>
<div> <%#=link_to "Back to",bosses_path(@boss) %> </div>
</pre> 